[user]
    name = azkvar
    email = 285984494+azkvar@users.noreply.github.com

[core]
    pager = delta

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[interactive]
    diffFilter = delta --color-only

[init]
    defaultBranch = main

[alias]
    st = status --short --branch
    sw = switch
    swc = switch -c
    br = branch
    ci = commit
    amend = commit --amend
    last = log -1 --stat
    lg = log --graph --decorate --oneline --all
    spush = stash push
    slist = stash list
    spop = stash pop
    unstage = restore --staged
    als = config --get-regexp ^alias\\.

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[merge]
    conflictstyle = zdiff3
